@import url(/styles/apresentacao.css);
@import url(styles/header.css);

:root {
    --cor principal; #D2E186;
    --cor-2:  #D2E186
    --cor-3:  #BBA987    ;
    --cor-4:  #8A7544
    --cor-5:  #4D4637 

}
